<div class="bubbleroll">
    <div class="flavor">
        {{#if data.flavor}}
            <i class="icon fa fa-dice-d20"></i> {{ data.flavor }}
        {{/if}}
    </div>
    <div class="summary">
        {{ localize "BUBBLEROLLS.RollsA" }} 
        {{#each roll.parts}}
            {{#if this.rolls}}
               {{#each this.rolls}}
                    <span class="roll" style="background-image: url('{{dice ../this.faces}}')">
                        <span>{{this.roll}}</span>
                    </span>
                {{/each}}
            {{else}}
                {{this}}
            {{/if}}
        {{/each}}
        = <strong>{{roll.total}}</strong>
    </div>
</div>