.bubbleroll {
    max-width: 240px;
    text-align: center;
}

.bubbleroll .flavor {
    font-weight: bold;
}

.bubbleroll .summary {
    line-height: 20px;
}

.bubbleroll .summary .roll {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.bubbleroll .summary .roll span {
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}